<Modal @ref="editModal">
    <ModalContent Centered="true">
        <ModalHeader>
            <ModalTitle>Employee edit</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>Name</FieldLabel>
                <TextEdit Placeholder="Enter name..." />
            </Field>
            <Field>
                <FieldLabel>Surname</FieldLabel>
                <TextEdit Placeholder="Enter surname..." />
            </Field>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="(() => HideModal(editModal))">Close</Button>
            <Button Color="Color.Primary" Clicked="(() => HideModal(editModal))">Save Changes</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    private Modal editModal;

    private void ShowModal(Modal modal)
    {
        modal.Show();
    }

    private void HideModal(Modal modal)
    {
        modal.Hide();
    }
}
