@page "/newstudent"

<form>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="first_name">First Name</label>
            <input type="text" class="form-control" id="first_name" placeholder="First Name" @bind="student.FirstName" @bind:event="oninput" required>
        </div>
        <div class="form-group col-md-4">
            <label for="middle_name">Middle Name</label>
            <input type="text" class="form-control" id="middle_name" placeholder="Middle Name" @bind="student.MiddleName" @bind:event="oninput">
        </div>
        <div class="form-group col-md-4">
            <label for="last_name">Last Name</label>
            <input type="text" class="form-control" id="last_name" placeholder="Last Name" @bind="student.LastName" @bind:event="oninput" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Address Line" @bind="address.AddressLine" @bind:event="oninput" required>
        </div>
        <div class="form-group col-md-6">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" id="phone" placeholder="Phone Number" @bind="phone.Phone1" @bind:event="oninput" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity" @bind="address.City" @bind:event="oninput" required>
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select @bind="address.State" id="inputState" class="form-control" required>
                <option selected>Choose...</option>
                <option value="1">Sonora</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="inputZip">Zip</label>
            <input type="text" class="form-control" id="inputZip" placeholder="Zip Code" @bind="address.ZipPostcode" @bind:event="oninput" required>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

@code {
    private Student student = new Student();
    private Address address = new Address();
    private Phone phone = new Phone();
}
